<div class="inner">
<h1 style="margin-top: 30px; margin-bottom: 30px;">
<a id="user-content-faqs" class="anchor" href="#faqs" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>FAQs</h1>
<h2>
<a id="user-content-what-is-the-overall-archicture-and-flow-graph-of-fabric8-anaytics-system" class="anchor" href="#what-is-the-overall-archicture-and-flow-graph-of-fabric8-anaytics-system" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>What is the overall archicture and flow graph of Fabric8-Anaytics system?</h2>
<p>Coming soon...</p>
<h2>
<a id="user-content-where-are-all-project-repos-located" class="anchor" href="#where-are-all-project-repos-located" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Where are all project repos located?</h2>
<p>You may want to get familiar with:</p>
<ul>
<li><a href="https://github.com/fabric8-analytics/fabric8-analytics-common">Common</a></li>
<li><a href="https://github.com/fabric8-analytics/fabric8-analytics-worker">Worker</a></li>
<li><a href="https://github.com/fabric8-analytics/fabric8-analytics-server">Server</a></li>
<li><a href="https://github.com/fabric8-analytics/fabric8-analytics-jobs">Jobs</a></li>
<li><a href="https://github.com/fabric8-analytics/fabric8-analytics-data-model">Data-Model-Importer</a></li>
<li>and others located here at <a href="https://github.com/fabric8-analytics/">github.com/fabric8-analytics/</a>
</li>
</ul>
<h2>
<a id="user-content-how-to-develop-or-run-on-local-machine" class="anchor" href="#how-to-develop-or-run-on-local-machine" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>How to develop or run on local machine?</h2>
<p>Almost all of the development can be done on local machine using containerized setup. We use Docker Compose based setup for such use-case. Take a look at this repo for more details: <a href="https://github.com/fabric8-analytics/fabric8-analytics-deployment">https://github.com/fabric8-analytics/fabric8-analytics-deployment</a></p>
<h2>
<a id="user-content-how-is-production-deployment-done" class="anchor" href="#how-is-production-deployment-done" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>How is production deployment done?</h2>
<p>All the services are run on OpenShift v3 cluster. This is described here: <a href="https://github.com/fabric8-analytics/fabric8-analytics-deployment/blob/master/openshift/README.md">https://github.com/fabric8-analytics/fabric8-analytics-deployment/blob/master/openshift/README.md</a></p>
<p>If you have or can setup your own OpenShift v3 cluster, you can use this mechanism to develop and test directly on OpenShift v3.</p>
<h2>
<a id="user-content-how-do-we-push-changes-to-staging-environment" class="anchor" href="#how-do-we-push-changes-to-staging-environment" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>How do we push changes to STAGING environment?</h2>
<p>Our <a href="https://ci.centos.org/view/Devtools/" rel="nofollow">CI system</a> tracks individual project repositories hosted on GitHub ( listed above ). Anytime a PR is submitted in these projects, builds are created against those changes. This ensures that all the submitted changes go through code-style checks, documentation style checks, and test suite.</p>
<p>Once all goes well through the review and PR is merged into master, the changes are deployed to staging environment directly by the CI system.</p>
<h2>
<a id="user-content-how-do-we-push-changes-to-production-environment" class="anchor" href="#how-do-we-push-changes-to-production-environment" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>How do we push changes to PRODUCTION environment?</h2>
<p>For pushing the changes already incorporated into master branch, the merge commit ID should be updated in the <a href="https://github.com/openshiftio/saas-analytics/tree/master/bay-services">saas-analytics</a> repo.</p>
<p>This works by tagging each of the container images using commit ids from git logs. So whenever a PR was merged, an image is build using that commit ID. This id is used to pull the corresponding image when deploying to production.</p>
<h2>
<a id="user-content-who-manages-the-services-required-for-deploying-onto-staging--production-" class="anchor" href="#who-manages-the-services-required-for-deploying-onto-staging--production-" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Who manages the services required for deploying onto STAGING / PRODUCTION ?</h2>
<p>It is the  Service Delivery team that manages all the infrastructure for STAGING and PRODUCTION. Talk to them :-)</p>
<h2>
<a id="user-content-where-are-dev-cluster-staging-cluster-and-production-cluster-located" class="anchor" href="#where-are-dev-cluster-staging-cluster-and-production-cluster-located" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Where are Dev Cluster, Staging Cluster and Production Cluster located?</h2>
<p>Dev Cluster, Staging Cluster and Production Cluster are OpenShift v3 clusters managed by Service Delivery team.</p>
<ul>
<li>Dev Cluster is meant for individual developer's own use.</li>
<li>Staging Cluster is meant for deployment of services via CI, for pre-production stage verification and testing.</li>
<li>Production Cluster is for end users.</li>
</ul>
<p>All these clusters have different endpoints, which you can find from your local teams. Talk to them :-)</p>
<h1 style="margin-top: 100px;">
<a id="user-content-get-in-touch-with-fabric8-analytics-community" class="anchor" href="#get-in-touch-with-fabric8-analytics-community" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Get in touch with Fabric8 Analytics Community!</h1>
</div>
