---
---
.inner {
	width: 60% !important;
}

.inner > h1, h2, h3, h4 > a {
	display: flex;
	justify-content: center;
	text-align: center;
}

.page-title {
	text-align: center;
	margin-up: 30px;
}

.centered-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.nav-main {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-main ul, .nav-main li {
	list-style-type: none !important;
}

.nav-main li {
	float: left;
}

.dropdown-content {
	display: none;
	position: absolute;
}

.dropdown-content .nav-item {
	margin-top: 2px;
}

.dropdown:hover .dropdown-content {
	display: block;
}

a.nav-item {
  display: flex;
  justify-content: center;
  width: 179px;
  padding: 12px 8px 12px 8px;
  margin-top: 6px;
  margin-right: 14px;
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
  color: #303030;
  background: #fdfdfd; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* IE10+ */
  background: linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
  border-top: solid 1px #cbcbcb;
  border-right: solid 1px #b7b7b7;
  border-bottom: solid 1px #b3b3b3;
  border-left: solid 1px #b7b7b7;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px 5px #888;
  -moz-box-shadow: 10px 10px 5px #888;
  box-shadow: 0px 1px 5px #e8e8e8;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}

a.nav-item:hover, a.active {
  background: #fafafa; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #c6c6c6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#c6c6c6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#c6c6c6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%,#c6c6c6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#c6c6c6 100%); /* IE10+ */
  background: linear-gradient(top,  #fdfdfd 0%,#c6c6c6, 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#c6c6c6',GradientType=0 ); /* IE6-9 */
  border-top: solid 1px #b7b7b7;
  border-right: solid 1px #b3b3b3;
  border-bottom: solid 1px #b3b3b3;
  border-left: solid 1px #b3b3b3;
}

a.nav-item span {
  display: block;
  height: 23px;
}

.footer-main {
	display: flex;
}

.footer-buttons {
	display: flex;
	justify-content: space-between;
	margin-bottom: 14px;
}

.footer-note {
	display: block;
	text-align: center;
}

@media screen {
  blockquote {
    display: block;
    margin: 1.5em 0 1.5em -1.5em;
    padding: .75em .5em .75em 0.5em;
    background: #fff;
    border-left: 1.5em solid #DDD;
    font-size: 1.2em;
    line-height: 1.3;
    -webkit-box-shadow: 0 0 5px rgba(40,20,20,0.5);
    -moz-box-shadow: 0 0 5px rgba(40,20,20,0.5);
    box-shadow: 0 0 5px rgba(40,20,20,0.5);
  }

  blockquote:before {
    display: block;
    height: 0px;
    margin-left: -.95em;
    font: italic 450% serif,Georgia,Cochin;
    color: #999;
    position: relative;
    top: -30px;
    content: "\"";
  }

  blockquote p {
	  display: inline;
  }
}
